@model AccJournalViewModel
@{
    
}
<div class="container p-3">
    <div class="row">
        <input hidden id="ajId" type="text" value="@Model.AJId" class="form-control" />
        <div class="col-4">
            <div class="form-group">
                <div class="row mb-2">
                    <div class="col-5"><label>Journal Date:</label></div>
                    <div class="col-7">
                        <input id="ajTrDate" type="date" class="form-control" value="@Model.AJTrDateString" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <div class="row mb-2">
                    <div class="col-5"><label>Document Date:</label></div>
                    <div class="col-7">
                        <input id="ajDDate" type="date" class="form-control" value="@Model.AJDDateString" required />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-5"><label>Event Date:</label></div>
                    <div class="col-7">
                        <input id="ajEDate" type="date" class="form-control" value="@Model.AJEDateString" required />
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-5"><label>Source Ref:</label></div>
                    <div class="col-7">
                        <input id="ajSoRef" type="text" class="form-control" value="@Model.AJSoRef" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <div class="row mb-2">
                    <div class="col-5"><label>Reference:</label></div>
                    <div class="col-7">
                        <input id="ajRef" type="text" class="form-control" value="@Model.AJRef" disabled/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="margin-0px">GL Postings</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <div class="row mb-1">
                            <div class="col-5"><label>Account Code</label></div>
                            <div class="col-7"><input id="agtAccCode" type="text" class="form-control" required /></div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-5"><label>Account Description</label></div>
                            <div class="col-7">
                                <select class="form-control autoSuggestionSelect" aria-label=".form-select-sm example" id="ddlAGTAccDescription" required>
                                    <option value="">Please Select Account</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-5"><label>Memo</label></div>
                            <div class="col-7"><input id="agtMemo" type="text" class="form-control" required /></div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row mb-1">
                            <div class="col-5"><label>Debit</label></div>
                            <div class="col-7"><input id="agtDebitAccount" type="text" class="form-control onlyNumber" placeholder="0.00" required /></div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-5"><label>Credit</label></div>
                            <div class="col-7"><input id="agtCreditAccount" type="text" class="form-control onlyNumber" placeholder="0.00" required /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="text-align:right">
                    <button type="button" id="addGLPosting" class="btn btn-secondary" onclick="addItem()" >Add item</button>
                </div>
            </div>
            <div style="margin-top:10px" class="card">
                <div class="card-header"><b>GL posting List </b></div>
                <div class="card-body table-responsive">
                    <span id="app_err-container"></span>
                    <table class="table table-sm table-hover table-bordered">
                        <thead class="dark-mode">
                            <tr>
                                <th class="text-center" scope="col">Account Code</th>
                                <th class="text-center" scope="col">Account Description</th>
                                <th class="text-center" scope="col">Debit</th>
                                <th class="text-center" scope="col">Credit</th>
                                <th class="text-center" scope="col">Memo</th>
                                <th class="text-center" scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tGLPostingListbody" class="txt-align-left">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="form-group">
                <div class="row mb-2">
                    <div class="col-2"><label>Memo</label></div>
                    <div class="col-9">
                        <textarea id="ajMemo" type="text" class="form-control" rows="2" cols="">@Model.AJMemo</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6 text-center">
            <a id="updateButton" class="btn btn-primary"><i class="bi bi-plus-circle"></i>Update Journal Entry</a>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/accJournalEntry.js"></script>
    <script>
        $(document).ready(function() {
            getJournalForEdit();
            getDescriptionDD();
        });
    </script>
}